{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4 mb-4 text-center">
            <div class="card p-5">
                <h1><i class="fas fa-sign-in-alt"></i> 
                    {% trans "Sign In" %}</h1>
                <p>
                    Please LOG IN to Create, Update, or Delete your Reservation.
                </p>
                <p>
                    {% blocktrans %}You don't have an account yet?, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                </p>
                {% url 'account_login' as login_url %}
                <form method="post" action="{{ login_url }}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                </form>
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
