{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="container mt-5 logout-page">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4 mb-4 text-center">
                <div class="card card-logout p-5">
                    <h1 class="mb-4">
                        <i class="fas fa-sign-out-alt"></i> {% trans "Sign Out" %}
                    </h1>
                    <strong><p>{% trans 'Are you sure you want to sign out?' %}</p></strong>
                    {% url 'account_logout' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
