{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">
                <i class="far fa-calendar-alt"></i>
                Create a Booking</h2>
            {% if error_message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ error_message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <form method="post" class="booking-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>

            <!-- Add Modal showing the rules for bookings -->
            <div class="modal fade" id="bookingRulesModal" tabindex="-1" role="dialog"
                aria-labelledby="bookingRulesModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bookingRulesModalLabel">Cafeteria l'Alba</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong>The booking rules are as follows:</strong><br>
                            - The maximum capacity per table is 4 people.<br>
                            - For groups larger than 4, please contact the establishment.<br>
                            - Meal sessions available at 18:00 / 19:00 / 20:00 / 21:00.<br>
                            - Feel free to arrive a bit earlier and enjoy a drink at the bar while we get ready your
                            table.
                            <hr>
                            Thanks.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends the modal -->

            <!-- Opens the modal-->
            <button type="button" class="btn btn-info mt-3 mb-4" data-toggle="modal" data-target="#bookingRulesModal">
                View Booking Rules
            </button>

        </div>
    </div>
</div>

<script>
    // Close alerts after 3 seconds
    setTimeout(() => {
        $(".alert").alert('close');
    }, 3000);
</script>
{% endblock %}