{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4 text-center"> <!-- Agregar 'text-center' para centrar el contenido -->
                {% if user.is_authenticated %}
                    <h3>RESERVATIONS LIST OF: {{ user.username }}</h3>
                {% endif %}
                {% if bookings %}
                    <ul class="list-group">
                        {% for booking in bookings %}
                            <li class="list-group-item">
                                Table booked on {{ booking.date }} at {{ booking.start_time }} -
                                <a href="{% url 'update_reservation' booking_id=booking.id %}" class="btn btn-secondary btn-sm">UPDATE</a>
                                <a href="{% url 'delete_reservation' booking.id %}" class="btn btn-danger btn-sm ml-2">DELETE</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You have no bookings</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
