{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container reservation-list-container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-12 mt-4 text-center">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}

            {% if user.is_authenticated %}
            <h3 class="reservation-list-header">RESERVATIONS LIST OF: {{ user.username }}</h3>
            {% endif %}
            {% if bookings %}
            <ul class="list-group">
                {% for booking in bookings %}
                <li class="list-group-item">
                    {{ booking.date }} at {{ booking.start_time }}, {{booking.num_people}} people
                    <a href="{% url 'update_reservation' booking_id=booking.id %}"
                        class="btn btn-primary btn-sm">UPDATE</a>
                    <a href="{% url 'delete_reservation' booking.id %}" class="btn btn-danger btn-sm ml-2">DELETE</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>
                <p class="no-bookings">You have no bookings</p>
            </strong>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}