{% extends 'base.html' %}

{% block content %}

<div id="about" class="container about-container">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <h2 class="text-center text-lg-left"><i class="fas fa-users"></i> ABOUT</h2>
            <h4 class="text-center text-lg-left"><strong>It's all about tradition</strong></h4>
            <p class="text-center text-lg-left">
                "Cafeteria l'Alba opened its doors back in '86, continuing a family tradition that dates back to the
                1960s when Jose García started his first business called 'El Casino' in the Alicante town of Sella. His
                daughters Pepa and Rosa continued their legacy by moving the business to Alicante and inaugurating
                'Cafeteria l'Alba.' Today, the restaurant is led by Pepe Climent, Pepa's son, who has continued the
                family tradition by offering homemade and artisanal food where rice and stews from the interior of the
                Alicante province take center stage."
            </p>
        </div>
        <div class="col-lg-6 mt-4">
            <img src="/static/images/sella.jpeg" class="img-fluid" alt="Sella">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 mt-4">
            <h4 class="text-center text-lg-right"><strong>We care about our products</strong></h4>
            <p class="text-center text-lg-right">"Because we care about the quality of our rice dishes and stews. Our
                intention is not only to prepare them with traditional recipes that have been passed down from generation
                to generation by our ancestors, but also to try to bring the original flavor to the customer's palate.
                For all of this, we cook with organic products from the land, aiming to capture even more, if possible,
                all the Mediterranean essence."</p>
        </div>
        <div class="col-lg-6 mt-4">
            <img src="/static/images/tomates.jpeg" class="img-fluid" alt="salmorreta">
        </div>
    </div>
    <hr>
</div>

{% endblock %}
