{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Alerts the user about succesfull sign -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="container-fluid callout-container">
  <!-- Callout section -->
  <div class="row">
    <div class="col-12">
      <section class="callout jumbotron text-center">
        <h1 class="jumbotron-header">Traditional Alicante cuisine since 1986,<br>specializing in rice dishes and stews.
        </h1>
        <p class="lead"><strong>"Taste the authentic Mediterranean essence."</strong></p>
        <a class="btn btn-success btn-lg" href="{% url 'new_reservation' %}" role="button">BOOK A TABLE</a>
      </section>
    </div>
  </div>
</div>
<script>
  // Close alerts after 3 seconds
  setTimeout(() => {
    $('.alert').alert('close')
}, "3000");
</script>
{% endblock %}
