{% extends 'base.html' %}

{% block content %}

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="menu-item">
                <h4>Arroz con Costilla de Cerdo y Conejo | 10€</h4>
                <p class="item-description">
                    Our famous paella with rabbit, pork ribs, and cauliflower, the favorite dish among our customers.
                </p>
            </div>
            <div class="menu-item">
                <h4>Lentejas con Chorizo | 8€</h4>
                <p class="item-description">
                    The perfect dish to warm up and energize ourselves, cooked with Chorizos from our hometown, Sella.
                </p>
            </div>
            <div class="menu-item">
                <h4>Puchero | 10€</h4>
                <p class="item-description">
                    One of the most iconic dishes of Alicante's gastronomy, chickpeas, vegetables, and assorted meats cooked
                    together.
                </p>
            </div>
            <div class="menu-item">
                <h4>Albondias de la abuela | 8€</h4>
                <p class="item-description">
                    Homemade beef and pork meatballs accompanied by delicious fries, our grandma's recipy.
                </p>
            </div>
            <div class="menu-item">
                <h4>Olleta | 10€</h4>
                <p class="item-description">
                    Savory rice with chard stems and broad beans, enjoy this lesser-known dish from Alicante's culture.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}